<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Inicio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/styles/estilo.css">
</head>
<body>
  <header class="header">
    <div class="header-content responsive-wrapper">
      <div class="header-navigation">
        <nav class="header-navigation-links">
          <a href="../../index.html"> Inicio </a>
          <a href="contenido.html"> Contenido </a>
          <a href="#"> Acerca de </a>
        </nav>
      </div>
    </div>
  </header>
  <main class="main">
    <div class="responsive-wrapper">
      <div class="main-header">
        <h1>Acerca de</h1>
      </div>
      
      <div class="content-header">
        <div class="content-header-intro">
          <h2>¿Por qué mis películas favoritas?</h2>
        </div>
      </div>
      
      <div class="row">
        <div class="column content-main">
          <p>El cine es una forma de arte que ha tenido un impacto significativo en la sociedad a lo largo de la historia. Una de las razones por las que el cine es importante es porque nos permite escapar de la realidad y sumergirnos en mundos imaginarios. Las películas pueden transportarnos a lugares lejanos, hacer que nos emocionemos con historias conmovedoras y permitirnos explorar ideas y temas complejos de una manera visual y emocionalmente poderosa.</p>
          <p>Otra razón por la que el cine es importante es porque puede servir como una herramienta de cambio social y política. Las películas pueden abordar temas importantes y sensibles, como la discriminación, la injusticia y la desigualdad, y ayudar a generar conciencia sobre estos problemas en la sociedad. Las películas también pueden inspirar a la gente a actuar y hacer una diferencia en el mundo.</p>
          <p>El cine también tiene un gran impacto económico en el mundo. La industria cinematográfica es una de las más grandes y lucrativas del mundo, generando miles de millones de dólares cada año y proporcionando empleo a millones de personas. Las películas pueden ser una fuente de ingresos significativa para los estudios cinematográficos, los actores, los directores y otros profesionales de la industria.</p>
        </div>
        <div class="column content-main">
          <p>Finalmente, el cine es importante porque nos permite conectarnos con otras personas a través de historias compartidas y experiencias emocionales. Las películas pueden crear un sentido de comunidad y una conexión emocional entre las personas que comparten la misma pasión por el cine. Muchos de nosotros hemos experimentado la emoción de ver una película que nos toca profundamente y nos lleva a reflexionar sobre nuestras propias vidas.</p>
          <p>En resumen, el cine es una forma de arte poderosa e influyente que nos permite escapar de la realidad, abordar temas importantes, generar ingresos económicos significativos y conectarnos emocionalmente con otras personas. Personalmente, mi amor por el cine me llevó a crear mi propia página web de reseñas de películas favoritas, donde puedo compartir mi pasión por el cine con otros y ayudar a difundir la palabra sobre películas que creo que son importantes y emocionantes.</p>
        </div>
      </div>

      <div class="content-header">
        <div class="content-header-intro">
          <h2>Autor de la pagina</h2>
        </div>
      </div>
      
      <div class="row">
        <div class="column content-main">
          <img src="../assets/images/foto-perfil.jpg">
        </div>
        <div class="column content-main">
          <h3>Manuel Espinoza Quintero</h3>
          <p>Estudiante Ingeniería Civil </p>
          <p>Major Software </p>
          <br>          
          <a href="https://github.com/manuel-2112">
            <img class="logo" src="../assets/images/github-mark.png">
          </a>
          <a href="mailto: mespinoq@uc.cl">
            <img class="logo" src="../assets/images/mail-mark.png">
          </a>
          
        </div>
      </div>

      </div>
    </div>
  </main>

  <footer class="footer">
    <div class="footer-content">
      <a href="https://github.com/IIC2513/">
        <img class="logo" src="../assets/images/github-mark.png">
      </a>
      <p> Tarea 1 IIC2513- Tecnologías y Aplicaciones Web</p>
    </div>
  </footer>
</body>

<p class="my-signature">Hecho por Manuel Espinoza 👋</p>
</html>