<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Inicio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/styles/estilo.css">
</head>
<body>
  <header class="header">
    <div class="header-content responsive-wrapper">
      <div class="header-navigation">
        <nav class="header-navigation-links">
          <a href="../../index.html"> Inicio </a>
          <a href="#"> Contenido </a>
          <a href="acerca.html"> Acerca de </a>
        </nav>
      </div>
    </div>
  </header>
  <main class="main">
    <div class="responsive-wrapper">
      <div class="main-header">
        <h1>Contenido</h1>
      </div>
      <div class="horizontal-tabs">
        <a href="#fight-club">Fight Club</a>
        <a href="#usual-suspects">The Usual Suspects</a>
        <a href="#pulp-fiction">Pulp Fiction</a>
        <a href="#mulholland-drive">Mulholland Drive</a>
        <a href="#lighthouse">The Lighthouse</a>
      </div>

      <div class="content-header">
        <div class="content-header-intro">
          <h2>Mis peliculas favoritas</h2>
          <p>A continuación, te presento una lista de mis 5 películas favoritas. Cada una de ellas es una obra maestra en su género. Espero que te gusten las recomendaciones, tanto como me gustaron a mi:</p>
        </div>
      </div>

      <div class="content">
        <div class="content-main">
          <div class="movie-grid">
            <article class="movie" id="fight-club">
              <span><img src="../assets/images/Fight-Club-Logo.png" /></span>
              <div class="movie-header">
                  <h1>Fight Club</h1>
              </div>
              <div class="movie-body">
                <h3>Información:</h3>
                <p>La película está basada en la novela homónima de Chuck Palahniuk. La trama gira en torno a un personaje sin nombre, interpretado por Norton, que está cansado de su vida monótona y encuentra liberación en la creación de un club de pelea underground. La película se convirtió en un éxito de culto debido a su enfoque oscuro y la exploración de temas como la masculinidad y el consumismo.</p>
                <p>Director: David Fincher</p>
                <p>Elenco: Brad Pitt, Edward Norton y Helena Bonham Carter</p>
                <p>Año: 1999</p>
                <p>País: Estados Unidos</p>
              </div>
              <div class="movie-footer">
                <a href="https://www.youtube.com/watch?v=qtRKdVHc-cE">Trailer &#9655</a>
              </div>
            </article>

            <article class="movie" id="usual-suspects">
              <span><img src="../assets/images/Usual-Suspects-Logo.png" /></span>
              <div class="movie-header">
                  <h1>The Usual Suspects</h1>
              </div>
              <div class="movie-body">
                <h3>Información:</h3>
                <p>La trama sigue a un grupo de delincuentes que son reunidos para realizar un trabajo aparentemente sencillo, pero las cosas se complican y deben enfrentarse a un misterioso y poderoso villano conocido como "Keyser Söze". La película es conocida por su sorprendente giro final y la actuación de Spacey, quien ganó el Oscar por su papel de Verbal Kint.</p>
                <p>Director: Bryan Singer</p>
                <p>Elenco: Kevin Spacey, Gabriel Byrne y Benicio Del Toro</p>
                <p>Año: 1995</p>
                <p>País: Estados Unidos</p>
              </div>
              <div class="movie-footer">
                <a href="https://www.youtube.com/watch?v=oiXdPolca5w">Trailer &#9655</a>
              </div>
            </article>

            <article class="movie" id="pulp-fiction">
              <span><img src="../assets/images/Pulp-Fiction-Logo.png" /></span>
              <div class="movie-header">
                  <h1>Pulp Fiction</h1>
              </div>
              <div class="movie-body">
                <h3>Información:</h3>
                <p>La película es conocida por su estructura no lineal y su estilo único, que mezcla la violencia con el humor negro y la cultura pop. La trama sigue a un grupo de personajes interconectados en el bajo mundo de Los Ángeles, y explora temas como la moralidad, la redención y la fe.</p>
                <p>Director: Quentin Tarantino</p>
                <p>Elenco: John Travolta, Uma Thurman, Samuel L. Jackson y Harvey Keitel</p>
                <p>Año: 1994</p>
                <p>País: Estados Unidos</p>
              </div>
              <div class="movie-footer">
                <a href="https://www.youtube.com/watch?v=s7EdQ4FqbhY">Trailer &#9655</a>
              </div>
            </article>

            <article class="movie" id="mulholland-drive">
              <span><img src="../assets/images/Mulholland-Drive-Logo.png" /></span>
              <div class="movie-header">
                  <h1>Mulholland Drive</h1>
              </div>
              <div class="movie-body">
                <h3>Información:</h3>
                <p>La película fue originalmente concebida como una serie de televisión, pero Lynch la transformó en una película después de que la idea fuera rechazada. La trama sigue a una actriz en ciernes llamada Betty que llega a Los Ángeles para perseguir su sueño, pero se ve envuelta en un misterio relacionado con una mujer amnésica y una caja azul. La película es conocida por su enfoque surrealista y la interpretación abierta que deja a los espectadores.</p>
                <p>Director: David Lynch</p>
                <p>Elenco: Naomi Watts y Laura Harring</p>
                <p>Año: 2001</p>
                <p>País: Estados Unidos</p>
              </div>
              <div class="movie-footer">
                <a href="https://www.youtube.com/watch?v=jbZJ487oJlY">Trailer &#9655</a>
              </div>
            </article>
            
            <article class="movie" id="lighthouse">
              <span><img src="../assets/images/Lighthouse-Logo.png" /></span>
              <div class="movie-header">
                  <h1>The Lighthouse</h1>
              </div>
              <div class="movie-body">
                <h3>Información:</h3>
                <p>La película se desarrolla en una isla remota de Nueva Inglaterra en la década de 1890, donde dos fareros deben enfrentarse a la soledad, la locura y los elementos naturales mientras intentan mantener el faro en funcionamiento. La película es conocida por su enfoque atmosférico y la actuación de Dafoe y Pattinson.</p>
                <p>Director: Robert Eggers</p>
                <p>Elenco: Willem Dafoe y Robert Pattinson</p>
                <p>Año: 2019</p>
                <p>País: Estados Unidos</p>
              </div>
              <div class="movie-footer">
                <a href="https://www.youtube.com/watch?v=Hyag7lR8CPA">Trailer &#9655</a>
              </div>
            </article>
            
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="footer">
    <div class="footer-content">
      <a href="https://github.com/IIC2513/">
        <img class="logo" src="../assets/images/github-mark.png">
      </a>
      <p> Tarea 1 IIC2513- Tecnologías y Aplicaciones Web</p>
    </div>
  </footer>
</body>

<p class="my-signature">Hecho por Manuel Espinoza 👋</p>
</html>
